.login_main {
    width: 100%;
    height: 100dvh;
    padding: 10px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo {
    width: 50%;
    height: 700px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
}
.photo video {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center;
}
.photo img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center;
}
.login_content {
    width: 50%;
    /* width: calc(100% - 600px); */
    height: 700px;
    background-color: var(--primary-color);
    border: 1px solid red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.overlay .box {
    width: 150px;
    height: 140px;
    border: var(--border);
    border-bottom: none;
    gap: 0;
    position: relative;
}
.one-four {
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.one-two-one-four {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.one-three-one-four {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.one {
    border-radius: 10px;
}
.one-one {
    border-top-left-radius: 10px;
}
.one-two {
    border-top-right-radius: 10px;
}
.one-three {
    border-bottom-left-radius: 10px;
}
.one-one-one-two {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.one-one-one-three {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box img {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -10px;
    left: 140px;
    z-index: 1000;
}
/* 
.input_box{

} */
