.main_ai_div {
    width: 100%;
    height: auto;
}
.sub_ai_div {
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: space-between; */
}
.ai_sidemenu {
    width: 20%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--sfptext);
    border: var(--border-light);
}
.ai_content {
    width: 80%;
    font-family: var(--sfptext);
    /* background-color: blue; */
}
.select_div {
    display: flex;
    gap: 10px;
}
.select_div button {
    width: 200px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    outline: none;
    border: none;
}

.outfits_content {
    width: 80%;
    height: auto;
}
.ai_sidemenu h1 {
    font-size: medium;
    margin-top: 16px;
    padding: 10px;
    position: sticky;
    top: 60px;
}
.ai_sidemenu ul {
    position: sticky;
    top: 100px;
}
.ai_sidemenu ul li a {
    text-decoration: none;
    color: var(--light-color);
}

.ai_sidemenu ul li {
    padding: 10px;
}
.ai_sidemenu ul li a:hover {
    color: var(--secondary-color);
}
