@font-face {
    font-family: "SFProText";
    src: url("../assets/fonts/SF-Pro-Display-Regular.woff") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("../assets/fonts/SF-Pro-Display-Regular.woff") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    width: 100%;
    height: 100dvh;
    /* overflow-y: scroll; */
}
:root {
    --sfpdisplay: "SFProDisplay";
    --sfptext: "SFProText";
}
#root {
    width: 100%;
    height: 100dvh;
    /* overflow-y: scroll; */
}

.dark {
    --primary-color: black;
    --secondary-color: #f5fbff;
    --border: 1px solid rgba(255, 255, 255, 0.45);
    --light-color: rgb(148, 147, 147);
    --border-light: 1px solid rgba(255, 255, 255, 0.12);
    --border-medium: 1px solid rgba(255, 255, 255, 0.2);
    --hover: rgb(31, 31, 31);
}
.light {
    --primary-color: #faf9f6;
    --secondary-color: black;
    --border: 1px solid rgba(0, 0, 0, 0.45);
    --light-color: rgba(12, 12, 12, 0.644);
    --border-light: 1px solid rgba(0, 0, 0, 0.12);
    --border-medium: 1px solid rgba(0, 0, 0, 0.2);
    --hover: rgb(230, 230, 230);
}
.df {
    display: flex;
}
.dfc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dfsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dfac {
    display: flex;
    align-items: center;
}
.dffd {
    display: flex;
    flex-direction: column;
}
.dfcfd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layout {
    height: 100dvh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
    border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--light-color);
    border-radius: 10px;
}
